## Import Libraries

In [6]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.svm import SVC
from sklearn.metrics import classification_report, confusion_matrix

## Load data

In [7]:
# Read the file dataset processed_data.csv
data = pd.read_csv('./dataset/archive/processed_data.csv')

data

,Education,Marital_Status,Income,Kidhome,Teenhome,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,...,NumStorePurchases,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Response,Age
0,Bachelor,Single,58.138,0,0,58,635,88,546,172,...,4,7,0,0,0,0,0,0,1,64
1,Bachelor,Single,46.344,1,1,38,11,1,6,2,...,2,5,0,0,0,0,0,0,0,67
2,Bachelor,Together,71.613,0,0,26,426,49,127,111,...,10,4,0,0,0,0,0,0,0,56
3,Bachelor,Together,26.646,1,0,26,11,4,20,10,...,4,6,0,0,0,0,0,0,0,37
4,PhD,Married,58.293,1,0,94,173,43,118,46,...,6,5,0,0,0,0,0,0,0,40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2231,Bachelor,Married,61.223,0,1,46,709,43,182,42,...,4,5,0,0,0,0,0,0,0,54
2232,PhD,Together,64.014,2,1,56,406,0,30,0,...,5,7,0,0,0,1,0,0,0,75
2233,Bachelor,Divorced,56.981,0,0,91,908,48,217,32,...,13,6,0,1,0,0,0,0,0,40
2234,Master,Together,69.245,0,1,8,428,30,214,80,...,10,3,0,0,0,0,0,0,0,65
2235,PhD,Married,52.869,1,1,40,84,3,61,2,...,4,7,0,0,0,0,0,0,1,67

## Preparation for Prediction Models

In [8]:
data_copy = data.copy()

education_mapping = {'Basic': 0, 'Bachelor': 1, 'Master': 2, 'PhD': 3}
data_copy['Education'] = data_copy['Education'].map(education_mapping)

data_copy = pd.get_dummies(data_copy, columns=['Marital_Status'], drop_first=True)

scaler = StandardScaler()
scaled_features = scaler.fit_transform(data_copy.drop('Response', axis=1))

X = scaled_features
y = data_copy['Response']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42, stratify=y)

## Train and test

In [9]:
svm_model = SVC(kernel='rbf', random_state=42, probability=True)
svm_model.fit(X_train, y_train)

y_train_pred = svm_model.predict(X_train)
y_pred = svm_model.predict(X_test)

cm = confusion_matrix(y_test, y_pred)
report = classification_report(y_test, y_pred)
print(cm)
print(report)

[[373   8]
 [ 49  18]]
              precision    recall  f1-score   support

           0       0.88      0.98      0.93       381
           1       0.69      0.27      0.39        67

    accuracy                           0.87       448
   macro avg       0.79      0.62      0.66       448
weighted avg       0.86      0.87      0.85       448